// Variáveis
// Cores
$cor-primaria: #0c0421;
$cor-secundaria: #4e75ff;
$cor-terciaria: #85a0ff;
$cor-quaternaria: #e8f5c8;
$cor-default: #cad4fa;
$gradiente-primario: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
$gradiente-secundario: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.7) 0%,
  rgba(202, 212, 250, 0.3) 100%
);
//Fontes
$ft-textos: "Montserrat", sans-serif;
$ft-titulos: "Krona One", sans-serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: $gradiente-primario;
  padding: 2rem;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    .linha {
      border-top: 1px solid black;
      width: 80%;
    }

    ul {
      display: inline-flex;
      gap: 2rem;

      li {
        list-style-type: none;
      }

      a {
        text-decoration: none;
        color: $cor-primaria;
        font-weight: 500;
        font-family: $ft-textos;
      }
    }
  }

  #home {
    max-width: 1040px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textos-home {
        max-width: 474px;

        h1 {
            font-size: 42px;
            color: $cor-primaria;
            margin-bottom: 2rem;
            font-family: $ft-titulos;

            span {
                color: $cor-secundaria;
            }
        }

        button {
            background-color: $cor-secundaria;
            color: white;
            border-radius: 1000px;
            width: 280px;
            height: 66px;
            font-family: $ft-textos;
            font-weight: 500;
            font-size: 22px;
            border: none;
            transition: background-color .15s ease;

            &:hover {
                background-color: #2c51d6;
            }
        }
    }

    .img-home {
        max-width: 474px;

        img {
            width: 100%;
        }
    }
  }
}
